#export EMAIL_SMTP=smtp.qq.com
#export EMAIL_ADDRESS=xxx@qq.com
#export EMAIL_AUTHCODE=xxx
#export RECIPIENT_EMAIL=xxx@yahoo.com.hk,xxx@ic.com
#export QWEN_API_KEY=sk-ccxxx
#export QWEN_CHAT_URL=https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions
#export QWEN_CHAT_MODEL=qwen-plus-2025-12-01
#echo $QWEN_API_KEY
#

export EMAIL_SMTP=smtp.qq.com
export EMAIL_ADDRESS=xxx@qq.com
export EMAIL_AUTHCODE=xxx
export RECIPIENT_EMAIL=xxx@gmail.com,xxx@ic.com
export QWEN_API_KEY=sk-ccxxx
export QWEN_CHAT_URL=https://dashscope.aliyuncs.com/compatible-mode/v1/chat/completions
export QWEN_CHAT_MODEL=qwen-plus-2025-12-01
echo $QWEN_API_KEY
